@font-face {
    font-family: "merchant-copy";
    src: url("../ttf/merchant_copy.ttf") format("truetype");
}

@font-face {
    font-family: "junicode-italic";
    src: url("../ttf/junicode_italic.ttf") format("truetype");
}

html {
    background-color: #18012D;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: "merchant-copy";
    color: #fefefe;
}

body {
    min-height: 100vh;
}

a {
    all: unset;
    cursor: pointer;
    font-size: 2.5rem;

    border-bottom: 1px solid #fefefe;
}

.bg-gif {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 8%;
    overflow: hidden;
    z-index: -9999;
}
