@font-face {
    font-family: "merchant-copy";
    src: url("../ttf/merchant_copy.ttf") format("truetype");
}

@font-face {
    font-family: "eb-garamond-italic";
    src: url("../ttf/eb_garamond_italic.ttf") format("truetype");
}

html {
    background-color: #18012D;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: "merchant-copy";
    color: #fefefe;
}

body {
    min-height: 100vh;
}

main {
    position: absolute;
}

a {
    all: unset;
    cursor: pointer;
    font-size: 2.5rem;

    border-bottom: 1px solid #fefefe;
}

.bg {
    background: url("../img/bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
