body {
    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.return {
    margin-left: 20px;
}

main section {
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

p {
    margin-left: 40px;
    font-size: 2rem;
    width: 80%;
}

span {
    margin-left: 40px;
    font-size: 3rem;
    font-family: "apple_garamond";
}

li {
    list-style: none;
}

li a {
    width: fit-content;
}

li img {
    height: 28px;
    max-width: 28px;
}

body img {
    margin: auto 0;
    width: 40%;
}

@media only screen and (max-width: 1000px) {
    main section {
        flex-direction: column;
    }

    .self-inversion {
        margin: 50px 0;
        width: 80%;
    }
}

@media only screen and (max-width: 420px) {
    span {
        font-size: 2rem;
    }
}