---
---

body {
    min-height: unset;
    margin: 20px;
}

section {
    display: flex;
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: center;

    background-color: black;
    border: 1px solid lightgrey;
}

section a {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 0;
}

section a h2 {
    width: fit-content;
    margin: 20px 0 0;

    border-bottom: 1px solid white;
}

video {
    width: 100%;

}
