---
---

body {
    min-height: unset;
}

ul {
    padding: 0;
    margin: 50px 0 0 20px;

    list-style: none;
}

li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #fefefe;
}
